{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <style>
        body {
            margin: 0;
        }

        .textBox {
            margin-left: 18em;
            margin-right: 18em;
            margin-top: 2em;
            margin-bottom: 10em;
        }

        .navbar {
            font-size: 1em;
            display: flex;
            flex-direction: row;
            background: #2F3E4E;
            height: auto;
            justify-content: center;
        }

        .navbar-left {
            color: white;
            padding: 1em;
            margin: auto;
        }

        .navbar-center {
            color: white;
            margin: auto;
        }

        .signInButton {
            margin: auto;
            background-color: #FFC107;
            color: #2F3E4E;
            border: none;
            width: 8em;
            height: 2.5em;
            border-radius: 50px;
            font-size: 16px;
            cursor: pointer;
            font-family: Arial, sans-serif;
            text-transform: lowercase;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

    </style>


{% endblock extra_css %}

{% block content %}

    {% load static %}

    <div class="navbar">
        <img src="{% static 'images/MSO_logo.png' %}" alt="MSO_logo.png" class="navbar-left" height=80px width=80px/>
        <div class="navbar-center">Hjem</div>
        <div class="navbar-center">Bestilling</div>
        <div class="navbar-center">Styret</div>
        <div class="navbar-center">Spor oss</div>
        <div class="navbar-center">Aksjonsuke</div>
        <div class="navbar-center">Evaluering</div>
        <button type="signInButton" class="signInButton">sign in</button>
    </div>

   <div class="textBox">
        <h1>{{ page.title }}</h1>
        <p>{{ page.hero_text|richtext }}</p>

    {{ page.body|richtext }}
   </div>
{% endblock content %}