{% extends "management-base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <style>
      /* Make all text inputs and textareas red */
      textarea{
        max-height: 20px;
      }
      
    </style>
{% endblock extra_css %}

{% block content %}
    <h1>Edit details of {{user.get_full_name}} / {{user.username}}</h1>
        {% if messages %}
            {% for msg in messages %}
                <div class="textbox">{{ msg }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Save changes</button>
        </form>

        <form action="{% url 'profile.html' %}" method="get">
            <button type="submit" class="profile-button">
                View profile
            </button>
        </form>
        
        <form action="/management/admin" method="get">
            <button type="submit" class="btn">
            Return to admin
            </button>
        </form>
        
{% endblock %}